spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/goldenkatdb?useSSL=false&serverTimezone=UTC
    username: admin
    password: admin123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  profiles:
    active: default

server:
  port: 8080

logging:
  level:
    com.goldenkat: DEBUG
    org.springframework: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
